In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.decomposition import PCA
from sklearn.neighbors import LocalOutlierFactor
import sys
from embedding import Graph2Vec
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import os
import datetime
import time

In [2]:
db_connection_str = 'mysql+pymysql://root:caucse1234@caucse.club/virus'
db_connection = create_engine(db_connection_str)
df = pd.read_sql('SELECT test.city,weather.* FROM weather,test where weather.KID=test.KID and test.city="충주" and weather.date >="2018-06-14" AND weather.date <"2018-07-14"', con=db_connection)
df1 = df.iloc[:,1:]

In [3]:
df

,city,KID,date,qiwen,shidu,zhengqiya,ludianwendu,dangdiqiya,haimianqiya,dimianqiya
0,충주,66,2018-06-14 00:00:00,20.8,67.0,16.4,14.4,995.1,1008.5,21.7
1,충주,66,2018-06-14 01:00:00,20.5,67.0,16.1,14.1,994.8,1008.2,21.0
2,충주,66,2018-06-14 02:00:00,20.2,67.0,15.8,13.8,994.8,1008.2,20.9
3,충주,66,2018-06-14 03:00:00,19.6,68.0,15.5,13.5,995.6,1009.0,20.7
4,충주,66,2018-06-14 04:00:00,19.1,69.0,15.2,13.2,995.4,1008.8,20.3
...,...,...,...,...,...,...,...,...,...,...
715,충주,66,2018-07-13 19:00:00,30.1,62.0,26.4,22.0,997.5,1010.5,29.4
716,충주,66,2018-07-13 20:00:00,27.7,74.0,27.4,22.6,998.0,1011.1,27.6
717,충주,66,2018-07-13 21:00:00,26.6,79.0,27.4,22.6,998.5,1011.6,26.8
718,충주,66,2018-07-13 22:00:00,26.0,84.0,28.1,23.0,998.9,1012.1,26.2
719,충주,66,2018-07-13 23:00:00,25.7,87.0,28.6,23.3,998.6,1011.8,25.9

In [7]:
list=df.values.tolist()
len(list)

720

In [8]:
sum=0
avg=[]
for i in range((len(list)/24)):
    sum=0
    for j in range(24):  
        sum=sum+list[j+(i*24)]
    avg.append(sum/24)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
avg

[1.4583333333333333,
 4.000000000000001,
 5.774999999999999,
 5.391666666666667,
 7.2625,
 7.6000000000000005,
 13.987499999999999,
 9.679166666666667,
 5.479166666666667,
 5.695833333333333,
 5.945833333333333,
 4.833333333333333,
 3.6249999999999996,
 2.1791666666666667,
 2.6750000000000003,
 3.4250000000000003,
 6.604166666666667,
 5.3500000000000005,
 5.0625,
 5.2458333333333345,
 4.883333333333334,
 7.3791666666666655,
 8.858333333333334,
 9.975000000000001,
 9.174999999999999,
 9.466666666666665,
 7.004166666666666,
 8.779166666666669,
 8.495833333333334]